@model IEnumerable<KhielsSkincare.Models.OrderDetail>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Order Detail";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order Code</th>
                            <th>Product Name</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @*subtotal = item.Quantity + item.Price;
                        toatal += subtotal;*@
                            <tr>
                                <td>@item.OrderCode</td>
                                <td>@item.ProductName</td>
                                <td>@item.Size</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-circle btn-sm" onclick="confirmDelete('@item.ProductId', &quot;@item.ProductName&quot;)">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





